.arena-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: white;
}

.app {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  top: 300px;
  left: 725px;
  background-color: #000000;

}
.container {
background-color: #e5652e;
background-image: url("quiz_template.png");
}

.question-section {
  color: #61dd09;
  background-color: #000000;
}

.score-section {
  color: #61dd09;
  background-color: #000000;
}

.next_button {
  color: #61dd09;
  background-color: #000000;
  animation: blinker 2.5s linear infinite;
  position: absolute;
  top: 300px;
  left: 550px;

}

.hidden {
  color:#000000;
}

button {
  display: inline-block;
  border: none;
  background: #000000;
  color: #61dd09;
  font-family:'Courier New', Courier, monospace;
  cursor: pointer;
  text-align: center;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
