.select-character-container {
  position: absolute;
  top: 250px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #61dd09;
  font-family: 'Courier New', Courier, monospace;
}

.select-character-container .character-grid {
  width: 35%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-row-gap: 10px;
}

.character-grid .character-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-self: center;
  align-self: center;
}

.character-item img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.character-item .name-container {
  position: absolute;
  background-color: #000000;
  opacity: 0.0;
  border-radius: 5px;
  margin: 5px;
}

.character-item .name-container p {
  margin: 0;
  opacity: 0.0;
  padding: 5px 5px 5px 5px;
}

.character-item .character-mint-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: #61dd09;
  font-size: 12px;
}

.character_next {
  color: #61dd09;
  background-color: #000000;
  position: absolute;
  top: 400px;
  left: 650px;

}

.next_button_character {
  color: #61dd09;
  background-color: #000000;
  animation: blinker 2.5s linear infinite;
  position: absolute;
  top: 300px;
  left: 630px;

}
