@charset "utf-8";
	.NormalCharacterStyle6
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Brass Mono;
	font-size : 42px;
	letter-spacing : -2.1px;
	color : #64D86B;
	color : rgb(100, 216, 107);
}
.NormalCharacterStyle5
{
	font-family : Brass Mono;
	font-size : 42px;
	letter-spacing : -2.1px;
	color : #64D86B;
	color : rgb(100, 216, 107);
}
.NormalCharacterStyle3
{
	font-family : basis33;
	font-size : 233px;
	letter-spacing : -11.65px;
	color : #64D86B;
	color : rgb(100, 216, 107);
	text-outline : #231F20;
	text-outline : rgb(35, 31, 32);
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.st0
{
	background : #FFEF29;
	background : rgba(255, 239, 41, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 2px;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
}
.st1
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st2
{
	background : #D8323F;
	background : rgba(216, 50, 63, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 0px;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
}
.st3
{
	background : #D8323F;
	background : rgba(216, 50, 63, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 0px;
}
.st4
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st5
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st6
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st7
{
	background : #C6B942;
	background : rgba(198, 185, 66, 1);
}
.st8
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st9
{
	background : #FFEF29;
	background : rgba(255, 239, 41, 1);
}
.st10
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.st11
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st12
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st13
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st14
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st15
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st16
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st17
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st18
{
	background : #FFEF29;
	background : rgba(255, 239, 41, 1);
}
.st19
{
	background : #C6B942;
	background : rgba(198, 185, 66, 1);
}
.st20
{
	background : #D8323F;
	background : rgba(216, 50, 63, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 0px;
}
.st21
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st22
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st23
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st24
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st25
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st26
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st27
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st28
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st29
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st30
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st31
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st32
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st33
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st34
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st35
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st36
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st37
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st38
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.st39
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
}
.st40
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st41
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st42
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.NormalCharacterStyle1
{
	font-family : Jo_wrote_a_lovesong;
	font-size : 175px;
	color : #D8323F;
	color : rgb(216, 50, 63);
	text-outline : #231F20;
	text-outline : rgb(35, 31, 32);
}
.NormalCharacterStyle2
{
	font-family : basis33;
	font-size : 233px;
	color : #64D86B;
	color : rgb(100, 216, 107);
	text-outline : #231F20;
	text-outline : rgb(35, 31, 32);
}
.st43
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st44
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st45
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st46
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st47
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st48
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st49
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st50
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st51
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st52
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st53
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st54
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st55
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st56
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st57
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st58
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.st59
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st60
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
.st61
{
	background : #379137;
	background : rgba(55, 145, 55, 1);
}
.XMLID_12_
{
	background-image : url(XMLID_12_.png);
	background-repeat : no-repeat;
}
.XMLID_38_
{
	background-image : url(XMLID_38_.png);
	background-repeat : no-repeat;
}
.XMLID_21_
{
	background-image : url(XMLID_21_.png);
	background-repeat : no-repeat;
}
.XMLID_7_
{
	background-image : url(XMLID_7_.png);
	background-repeat : no-repeat;
}
.XMLID_44_
{
	background-image : url(XMLID_44_.png);
	background-repeat : no-repeat;
}
.XMLID_33_
{
	background-image : url(XMLID_33_.png);
	background-repeat : no-repeat;
}
.XMLID_28_
{
	background-image : url(XMLID_28_.png);
	background-repeat : no-repeat;
}
.XMLID_39_
{
	background-image : url(XMLID_39_.png);
	background-repeat : no-repeat;
}
.XMLID_22_
{
	background-image : url(XMLID_22_.png);
	background-repeat : no-repeat;
}
.XMLID_1_
{
	background-image : url(XMLID_1_.png);
	background-repeat : no-repeat;
}
.XMLID_34_
{
	background-image : url(XMLID_34_.png);
	background-repeat : no-repeat;
}
.XMLID_15_
{
	background-image : url(XMLID_15_.png);
	background-repeat : no-repeat;
}
.XMLID_45_
{
	background-image : url(XMLID_45_.png);
	background-repeat : no-repeat;
}
.XMLID_23_
{
	background-image : url(XMLID_23_.png);
	background-repeat : no-repeat;
}
.XMLID_40_
{
	background-image : url(XMLID_40_.png);
	background-repeat : no-repeat;
}
.XMLID_2_
{
	background-image : url(XMLID_2_.png);
	background-repeat : no-repeat;
}
.XMLID_46_
{
	background-image : url(XMLID_46_.png);
	background-repeat : no-repeat;
}
.XMLID_17_
{
	background-image : url(XMLID_17_.png);
	background-repeat : no-repeat;
}
.XMLID_16_
{
	background-image : url(XMLID_16_.png);
	background-repeat : no-repeat;
}
.XMLID_29_
{
	background-image : url(XMLID_29_.png);
	background-repeat : no-repeat;
}
.XMLID_24_
{
	background-image : url(XMLID_24_.png);
	background-repeat : no-repeat;
}
.XMLID_9_
{
	background-image : url(XMLID_9_.png);
	background-repeat : no-repeat;
}
.XMLID_18_
{
	background-image : url(XMLID_18_.png);
	background-repeat : no-repeat;
}
.XMLID_35_
{
	background-image : url(XMLID_35_.png);
	background-repeat : no-repeat;
}
.XMLID_13_
{
	background-image : url(XMLID_13_.png);
	background-repeat : no-repeat;
}
.XMLID_25_
{
	background-image : url(XMLID_25_.png);
	background-repeat : no-repeat;
}
.XMLID_30_
{
	background-image : url(XMLID_30_.png);
	background-repeat : no-repeat;
}
.XMLID_41_
{
	background-image : url(XMLID_41_.png);
	background-repeat : no-repeat;
}
.XMLID_10_
{
	background-image : url(XMLID_10_.png);
	background-repeat : no-repeat;
}
.XMLID_36_
{
	background-image : url(XMLID_36_.png);
	background-repeat : no-repeat;
}
.XMLID_19_
{
	background-image : url(XMLID_19_.png);
	background-repeat : no-repeat;
}
.XMLID_14_
{
	background-image : url(XMLID_14_.png);
	background-repeat : no-repeat;
}
.XMLID_42_
{
	background-image : url(XMLID_42_.png);
	background-repeat : no-repeat;
}
.XMLID_26_
{
	background-image : url(XMLID_26_.png);
	background-repeat : no-repeat;
}
.XMLID_31_
{
	background-image : url(XMLID_31_.png);
	background-repeat : no-repeat;
}
.XMLID_11_
{
	background-image : url(XMLID_11_.png);
	background-repeat : no-repeat;
}
.XMLID_37_
{
	background-image : url(XMLID_37_.png);
	background-repeat : no-repeat;
}
.XMLID_20_
{
	background-image : url(XMLID_20_.png);
	background-repeat : no-repeat;
}
.XMLID_8_
{
	background-image : url(XMLID_8_.png);
	background-repeat : no-repeat;
}
.XMLID_32_
{
	background-image : url(XMLID_32_.png);
	background-repeat : no-repeat;
}
.XMLID_43_
{
	background-image : url(XMLID_43_.png);
	background-repeat : no-repeat;
}
.XMLID_27_
{
	background-image : url(XMLID_27_.png);
	background-repeat : no-repeat;
}
.NormalCharacterStyle
{
	font-family : Brass Mono;
	font-size : 87px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.st62
{
	background : #64D86B;
	background : rgba(100, 216, 107, 1);
}
